# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/customers/
data/accounts/
data/bank_ledger/
data/system_date.json

# Virtualenv
.venv/
.venv_virtuell/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / Editor specific
.DS_Store

# Log files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/